main section.wolves {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section.wolves h2 {
    color: #DEB959;
    font-size: 3rem;
    margin-bottom: 1rem;
}

main section.wolves ul{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

main section.wolves ul li{
    display: flex;
    flex-direction: row;
    text-align: justify;
    align-items: center;
}

main section.wolves ul li + li {
    margin-top: 6rem;
}

main section.wolves ul.wolves-list .wolf-text{
    margin-left: 2rem;
}

main section.wolves h3 {
    font-size: 2rem;
}

main section.wolves p {
    max-width: 24rem;
    color: #333333;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.4rem;
}

main section.wolves p.wolf-age {
    margin-bottom: 1.8rem;
}


main section.wolves .wolf-image{
    height: 18rem;
    width: 25rem;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #333333;
}

main section.wolves li:nth-child(odd) .wolf-image,
main section.wolves li:nth-child(even) .wolf-image{
    box-shadow: -40px -30px #2C5680;
    
}