main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section.wolves-list {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

main section.wolves-list li{
    display: flex;
    flex-direction: row;
    text-align: justify;
    align-items: center;
}

main section.wolves-list li + li {
    margin-top: 6rem;
}

main section.wolves-list .wolf-text{
    margin-left: 2rem;
}

main section.wolves-list h3 {
    font-size: 2rem;
}


.wolf-description,
.wolf-age {
    max-width: 24rem;
    color: #333333;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.4rem; 
}


p.wolf-name {
    margin-bottom: 1.8rem;
}


main  .wolf-image{
    height: 18rem;
    width: 25rem;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #333333;
}

main li:nth-child(odd) .wolf-image{
    box-shadow: -40px -30px #2C5680;   
}

.wolf-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 button {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    background-color: #DEB959;
    padding: .5rem;
    margin-top: .8rem;
    border: none;
    margin-left: 2rem;
}

button:hover{
    cursor: pointer;
}


/* BARRA DE PESQUISA */

.filtering{
    display: flex;
    margin-top: 1rem;
    align-items: center;
    flex-direction: column;
}


/* REVERSING */
.wolves-list li:nth-child(even){
    margin-top: 6.25rem;
    flex-direction: row-reverse;
    text-align: star;
}

.wolves-list li:nth-child(even) .wolf-image {
    box-shadow: 40px -30px #2C5680;
}

.wolves-list li:nth-child(even) .wolf-text{
    margin-right: 2rem;
}

.rodape {
    display: inline-flex;
    margin-bottom: 3rem;
}
